<!--Header-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark scrolling-navbar">
        <img src="assets/logo.png" class="img-fluid" alt="Responsive image" width="100">
        <pre class="tab">   </pre>
        <a class="navbar-brand mr-auto" style="font-size: 40px; color: #ffffff"><strong>u</strong>Social</a>
        <form class="form-inline">
            <div class="md-form my-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-2">
                        <li class="nav-item dropdown" dropdown>
                            <a dropdownToggle class="nav-link dropdown-toggle"> {{nombre}} </a>
                            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                                <a class="dropdown-item" [routerLink]="['/dashboard']">Mi información</a>
                                <a class="dropdown-item" (click)="LogOut()">Cerrar Sesión</a>
                            </div>
                        </li>
                    </ul>
                    <img [src]=foto alt="Avatar" class="img-circle" alt="Responsive image" width="70">
                </div>
            </div>
        </form>
    </nav>
</header>


<div class="container-fluid grey lighten-2">
    <div class="row">
        <div class="col mt-2">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <button type="button" (click)="inicio()" class="btn yellow darken-3 px-5 mr-1"><i
                            class="fas fa-portrait"></i>
                        Inicio</button>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid grey lighten-2">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col mt-2 elegant-color-dark">
            <div class="form-group">
                <label for="exampleFormControlTextarea1"></label>
                <textarea class="form-control rounded-1" [(ngModel)]="chatlog" id="exampleFormControlTextarea1" rows="15"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea2"></label>
                <textarea class="form-control rounded-1" [(ngModel)]="mensaje" id="exampleFormControlTextarea1" rows="7"></textarea>
            </div>
            <div class="row">
                <div class="col-9"></div>
                <div class="col mb-3">
                    <button type="button" (click)="chat()" class="btn yellow darken-3 px-5 mr-1">Enviar</button>
                </div>
            </div>
        </div>    
        <div class="col-3">
        </div>
    </div>
</div>



