<!--Header-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark scrolling-navbar">
        <a [routerLink]="['/home']"> <img src="assets/logo.png" class="img-fluid" alt="Responsive image" width="100"> </a>
        <pre class="tab">   </pre>
        <a class="navbar-brand mr-auto" [routerLink]="['/home']" style="font-size: 40px"><strong>u</strong>Social</a>
        <form class="form-inline">
            <div class="md-form my-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-5">
                        <li class="nav-item active ml-4">
                            <a class="nav-link" [routerLink]="['/login']" style="font-size: 20px">Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/home']" style="font-size: 20px">|</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/signin']" style="font-size: 20px">Registrarse</a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <img src="assets/USAC.png" class="img-fluid" alt="Responsive image" width="130">
    </nav>
</header>

<!--Main Layout-->
<div class="container">
    <div class="row justify-content-center mt-5">
        <h1>uSocial te ayuda a comunicarte y compartir con las personas que forman parte de tu vida. </h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="col align-self-center">
                <img src="assets/red.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>